.App {
  /* text-align: center; */
}

.body {
  padding: 40px 80px;
  display: flex;
  margin-left: 120px;
}

.form {
  width: 40%;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
  position: relative;
  background-color: #282c34;
  min-height: 2vh;
  z-index: 5;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #282c34;
  min-height: 2vh;
  z-index: 5;
}

.target:hover:after {
  /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2); */
  /* box-shadow: inset 10px 10px 100px 100px #000; */
    background: #000;
    fill: #000;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}

.listItem:hover {
  background: #C4D4E0
}

.target {
  opacity: 1.0;
}

.target:hover {
  opacity: 1;
  fill: lightblue;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
